body{ 
    background-color: #d6c3c9;
    background: url(../css/img/magazine-spines.jpg) no-repeat center;
    background-size: cover;
    width:auto;
    font-family: 'Comfortaa', cursive, 'Bowlby One', cursive;

    font-weight: 100px;
}
nav {
    background-color: #adbdff; 
    opacity: 80%;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 24px;
    padding-top: 8px;
    margin-top: 40px;
    margin-bottom: 40px;
    float: right; 
}
.nav-logo{
    height: 60px;
    width: 110px;
}
.logo {
    width: 110px;
    height: 60px;
    position: auto;
  }
a {
   text-decoration:none;
    font-family: comfortaa;
    font-weight:400;
    color: #8550bf;
    padding: 10px;
}
a:active{
    background-color: #690bcf;
    border-color: #adbdff;
}
a:hover {
    color: #cb6cec;
    background-color: #690bcf;
}
a:visited{
    color: #8550bf;
}
h1,h2 {
    font-weight: 5000;
    font-size:900px;
    font-family: bowlby one;
    color:#690bcf;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 5px;
    padding: 5px;
    text-align: left;
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #8550bf,
    0 0 82px #8550bf,
    0 0 92px #8550bf,
    0 0 102px #8550bf,
    0 0 151px #8550bf;
}
h3 {
font-family: bowlby one;
word-spacing: 4px;
letter-spacing: 4px;
color:#690bcf;
}
#main {
    font-family: comfortaa;
    width: auto;
    height: 80%;
    columns: 2;
    column-gap: 10px;
    padding: 10px;
    margin: 10px;
    word-spacing: 5px;
    background-color:#dedcfe;
    color:#020102;
    border: solid 5px #8550bf;
    display: inline-block;
}
.video{
    padding: 10px;
    text-align: center;
}
footer{
    width: 100%;
    height: 100%;
    background-color: #adbdff;
    opacity: 80%;
    /*clear: both;*/
    padding: 10px;
    margin-top: 40px;
    font-size: 15px;
    text-align: center;
    font-family: comfortaa;
}
fa{
    color:#690bcf;
}
input[type=text], textarea 
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    font-family: comfortaa;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
input[type=submit] {
    background-color: #8550bf;
    color: white;
    font-family: comfortaa;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
input[type=submit]:hover {
    background-color: #690bcf;
  }
.container {
    border-radius: 5px;
    background-color: #adbdff;
    padding: 20px;
    font-family: comfortaa;
  }
.aboutpic .joinpic {
    float: right;
    padding: 10px;
  }